.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actions {
  display: flex;
  gap: 10px;
}

.add-button,
.edit-button,
.delete-button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.add-button {
  background-color: #007bff;
  color: white;
  margin-bottom: 20px;
  display: inline-block;
}

.edit-button {
  background-color: #ffc107;
  color: white;
  height: 30px;
  width:100px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  height: 30px;
  width:100px;
}
